.whole{
    display: flex;
    background-color: #f8a304f7;
    height: 80px;
}
.rex{
    display: flex;
    padding-top: 20px;
}
.boi{
    padding-top: 200px;
}
.joe{
    padding-left: 20px;
}
.ray{
    padding-left: 100px;
}